<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h4>COOKIE</h4>
    </nav>
    <form action="/login" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <label>Login</label>
        <input type="text" id="login" name="login">
        <label>Senha</label>
        <input type="password" id="senha" name="senha">
        <button>Enviar</button>
    </form>
</body>
</html>